@import './vars/_vars.css';
@import './font-size.css';
@import './div-flex.css';
@import './spacing.css';
@import './fg-bg.css';
@import './grid.css';
@import './dropdown.css';
@import './cursor.css';
@import './icon.css';
@import './anims-basic.css';
@import './input.css';
@import './text.css';


html, body {
    font-family: Arial;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:var(--fs-md);
    color: var(--fg-default);
    background-color: var(--bg-body);
}


/* TODO: add a minimal css reset. include the following... */
/* not sure if the div one is needed, shouldn't html body have done it? */
div, textarea, input, td, th { box-sizing: border-box; }

:any-link {
    color:inherit;
    text-decoration: inherit;
}

h1, h2, h3, h4, h5 {
    display: block;
    font-size: var(--fs-xl);
    color: lime;
    font-weight: bold;
    margin: var(--space1) 0;
}

/* Because this if for phones, just hide scrollbars (you can still scroll with scrollwheel) */
.hideScrollbars::-webkit-scrollbar { /* applied to both divs and body, possibly */
	width: 0;
	background: transparent;
}