.fg-loud { color: var(--fg-loud); }
.fg-accent { color: var(--fg-accent); }
.fg-faded { color: var(--fg-faded); }
.fg-really-faded { color: var(--fg-really-faded); }
.fg-default { color: var(--fg-default); }
.fg-danger { color: var(--fg-danger); }
.fg-link { color: var(--fg-link); }


.fgHover-loud:hover { color: var(--fg-loud); }
.fgHover-accent:hover { color: var(--fg-accent); }
.fgHover-faded:hover { color: var(--fg-faded); }
.fgHover-really-faded:hover { color: var(--fg-really-faded); }
.fgHover-default:hover { color: var(--fg-default); }
.fgHover-danger:hover { color: var(--fg-danger); }
.fgHover-link:hover { color: var(--fg-link); }



.bg-body { background-color: var(--bg-body); }
.bg-header { background-color: var(--bg-header); }
.bg-card { background-color: var(--bg-card); }
.bg-item { background-color: var(--bg-item); }
.bg-item-active { background-color: var(--bg-item-active); }
.bg-item-disabled { background-color: var(--bg-item-disabled); }
.bg-item-hover { background-color: var(--bg-item-hover); }
