:root {

    /*
        follow this format:  (what property you affect) + '-' + (desc)
        height-top-nav, for example, NOT top-nav-height
    */

    --trans-time: 0.2s;

    --fg-default: var(--light-gray6);
    --fg-faded: var(--light-gray3);
    --fg-really-faded: var(--light-gray1);
    --fg-loud: var(--light-gray10);
    --fg-danger: var(--red8);
    --fg-accent: var(--yellow8);
    --fg-success: var(--green8);
    --fg-link: var(--blue7);

    --bg-darkest: var(--gray0);
    --bg-body: var(--gray1);
    --bg-item-disabled: var(--gray2);
    --bg-header: var(--gray3);
    --bg-card: var(--gray4);
    --bg-item: var(--gray4);
    --bg-item-active: var(--gray6);
    --bg-item-hover: var(--gray7);
    
    --bg-input: var(--gray1);
    --bg-input-focus: var(--gray2);
    --bg-input-disabled: var(--blue2);
    --bg-dropdown-menu: var(--gray2);
    --bg-dropdown-menu-active-item: var(--gray3);


    --bg-btn-disabled: var(--bg-item-disabled);
    --fg-btn-disabled: var(--fg-really-faded);

    --bg-btn: var(--blue5);
    --fg-btn: var(--blue10);
    --bg-btn-hover: var(--blue7);
    --fg-btn-hover: var(--fg-loud);

    --bg-btn-link: transparent;
    --fg-btn-link: var(--fg-default);
    --bg-btn-link-hover: var(--gray3);
    --fg-btn-link-hover: var(--fg-loud);

    --bg-btn-secondary: var(--gray4);
    --fg-btn-secondary: var(--gray10);
    --bg-btn-secondary-hover: var(--gray5);
    --fg-btn-secondary-hover: var(--fg-loud);

    --bg-btn-danger: var(--red3);
    --fg-btn-danger: var(--red10);
    --bg-btn-danger-hover: var(--red5);
    --fg-btn-danger-hover: var(--fg-loud);


    --border-default: var(--gray2);
    --border-secondary: var(--gray4);
    --border-btn-group: var(--fg-faded);

    --z-ground-floor: 0;
    --z-tooltips: 50;
    --z-top-nav-bar: 90;
    --z-modal: 100;
    --z-modal-content: 110;
    --z-confirm-modal: 200;
    --z-confirm-modal-content: 210;


    --modal-trans: rgba(23, 29, 34, 0.7);

    --scrollbar-thickness: 10px;
    --scrollbar-track: var(--gray3);
    --scrollbar-thumb: var(--gray5);

    /* table */
    --table-bg: var(--bg-header);
    --table-border: var(--fg-faded);
    --table-th-fg: var(--fg-faded);
    --table-th-bg: var(--bg-header);
    --table-td-fg: var(--fg-default);
    --table-td-bg: var(--bg-item);
    --table-td-bg-hover: var(--bg-item-hover);
    --table-tr-active: var(--bg-item-active);


    /* calendar */
    --fg-cal-main: var(--fg-default);
    
    --bg-cal-main: var(--gray2); /* bg of all the days */
    --bg-cal-header: var(--bg-header); /* the part that says month name */
    --border-cal-main: var(--fg-faded);
    --fg-cal-today: var(--fg-accent);
    --bg-cal-hover: var(--bg-item-hover);
    --fg-cal-day-label: var(--fg-faded);
    --fg-cal-weekend-days: var(--red10);
    --fg-cal-days-in-neighbor-months: var(--fg-really-faded); 
    --bg-cal-selected-dt: var(--bg-item-active);
    --fg-cal-selected-dt: var(--fg-loud);

}
