:root {
    --fg-cal-main: red;
    --bg-cal-main: red;
    --border-cal-main: red;
    --fg-cal-today: red;
    --bg-cal-hover: red;
    --fg-cal-day-label: red;
    --fg-cal-weekend-days: red;
    --fg-cal-days-in-neighbor-months: red;    
    --bg-cal-selected-dt: red;
    --fg-cal-selected-dt: red;
}

.react-calendar {
    width: 350px;
    max-width: 100%;
    background: var(--bg-cal-main);
    border: 1px solid var(--border-cal-main);
    line-height: 1.125em;
}
.react-calendar__navigation__label {
    font-size: var(--fs-lg)
}

.react-calendar__navigation button {
    color: var(--fg-cal-main);
}
/* .react-calendar button {
    color: purple;
} */

.react-calendar--doubleView {
    width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}
.react-calendar button:enabled:hover {
    cursor: pointer;
}
.react-calendar__navigation {
    height: 44px;
    margin-bottom: 1em;
}
.react-calendar__navigation button {
    min-width: 44px;
    background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: var(--bg-cal-hover);
}

/* .react-calendar__navigation button[disabled] {
    background-color: purple;
} */

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
}
.react-calendar__month-view__weekdays__weekday abbr {
    color: var(--fg-cal-day-label);
    border-bottom: none;
    cursor: default;
    text-decoration: none;
}

.react-calendar__month-view__weekNumbers {
    font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}
.react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background: none;
    color: var(--fg-cal-main);
}
.react-calendar__month-view__days__day--weekend {
    color: var(--fg-cal-weekend-days);
}
.react-calendar__month-view__days__day--neighboringMonth {
    color:var(--fg-cal-days-in-neighbor-months);
}
.react-calendar__tile:disabled {
    background-color: lime;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: var(--bg-cal-hover);
}
.react-calendar__tile--now {
    background-color: var(--bg-cal-today);
    color: var(--fg-cal-today);
    font-style: italic;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background-color: var(--bg-cal-hover);
}
.react-calendar__tile--hasActive {
    /* when in month view, current month */
    background-color: var(--bg-cal-selected-dt);
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background-color: var(--bg-cal-selected-dt);
}
.react-calendar__tile--active {
    background-color: var(--bg-cal-selected-dt);
    color: var(--fg-cal-selected-dt);
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: var(--bg-cal-selected-dt);
}
.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: lime;
}
